/**
 * Site header
 */
.site-header {
  // border-top: 6px solid $grey-color-dark;
  // border-bottom: 3px solid $grey-color-light;
  // border-bottom: 2px solid $brand-color;
  background-color: $grey-color-lightish;
  min-height: 56px;

  // Positioning context for the mobile navigation icon
  position: relative;

  .wrapper,
  .services-wrapper {
    // background-color: #828282;
    background-color: $dark-background-color;
    // padding-top: 10px;

    ul {
      // display: table;
      // width: 100%;
      text-align: center;
      // list-style: none;
      margin: 0;
      padding: 0;
      line-height: 1.2rem;
      font-size: 0.85rem;
      color: white;
      font-style: italic;

      li {
        // display: table-cell;
        display: inline-block;
        padding: 0 0.5rem;

        // &:first-of-type {
        //   font-style: italic;
        // }

        .page-link {
          color: inherit;
        }
      }
    }

    object {
      width: 70%;
      display: block;
      margin: auto;
      padding: $spacing-unit/2 0 $spacing-unit;

      @include media-query($on-palm) {
        width: 90%;
        padding: $spacing-unit/2 0;
      }
    }
  }
}
.site-title {
  font-size: 26px;
  line-height: 56px;
  margin-right: 50px;
  margin-bottom: 0;
  float: left;
  color: $background-color;
  // &,
  &:visited,
  &:hover {
    color: $background-color;
  }
  @include media-query($on-laptop) {
    float: inherit;
    margin: 0;
    text-align: center;
    display: block;
  }
  @include media-query($on-palm) {
    font-size: 24px;
    float: left;
    text-align: left;
  }
}
//Site Logo
.logo-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
  height: 25rem;

  @include media-query($large-laptop){
    justify-content: space-between;
  }

  @include media-query($on-laptop){
    flex-direction: column;
    height: auto;
    // align-items: flex-start;
  }
}
.header-logo {
  flex: 0 1 auto;
  display: block;
  max-width: 21rem;
  margin: 0 auto;

  @include media-query($last-stop){
    // max-width: 28rem;
    width: 100%;
  }
}
.main-logo-wrapper {
  background-color: #f35c23;
  padding-top: 15rem;
  transform: rotate(-15deg);
  margin-top: -15rem;

  @include media-query($large-laptop){
    margin-left: 28px;
  }
  @include media-query($on-laptop){
    margin: -15rem 52px 5rem 0;
  }

  @include media-query($last-stop){
    // max-width: 28rem;
    width: 75%;
  }

}
.header-contact-div {
  background-color: #686666;
  background-image: url("/assets/squeegee.svg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  color: #fff;
  padding: 1rem 3rem 1rem 5rem;
  text-align: center;

  @include media-query($on-laptop){
    margin-bottom: 3rem;
    width: 95%;
    padding: 1rem;
  }

  h2 {
    font-weight: bold;
    margin-bottom: 0;
  }

  p {
    font-size: 1.25rem;
    margin-bottom: 0;
  }

  a {
    color: #fff;

    &:hover {
      text-decoration: none;
    }
  }
}

.site-nav {
  // float: right;
  // line-height: 56px;
  text-align: center;
  padding-bottom: 15px;
  .menu-icon {
    display: none;
  }
  .page-link {
    // color: $text-color;
    color: $background-color;
    line-height: $base-line-height;
    font-size: 1.3rem;

    @include media-query($on-palm) {
      // color: $brand-color;
      font-size: 1rem;
      // &:visited, &:hover{
      //   color: $brand-color;
      // }
    }

    // Gaps between nav items, but not on the first one
    &:not(:first-child) {
      margin-left: 20px;
    }
  }

  // @include media-query($on-laptop) {
  //   // float: inherit;
  //   line-height: 56px;
  //   margin: auto;
  //   text-align: center;
  // };
  // @include media-query($on-palm) {
  //   position: absolute;
  //   top: 9px;
  //   right: 15px;
  //   background-color: $background-color;
  //   border: 1px solid $grey-color-light;
  //   border-radius: 5px;
  //   text-align: right;
  //   .menu-icon {
  //     display: block;
  //     float: right;
  //     width: 36px;
  //     height: 26px;
  //     line-height: 0;
  //     padding-top: 10px;
  //     text-align: center;
  //     > svg {
  //       width: 18px;
  //       height: 15px;
  //       path {
  //         fill: $grey-color-dark;
  //       }
  //     }
  //   }
  //   .trigger {
  //     clear: both;
  //     display: none;
  //   }
  //   &:hover .trigger {
  //     display: block;
  //     padding-bottom: 5px;
  //   }
  //   .page-link {
  //     display: block;
  //     padding: 5px 10px;
  //   }
  // }
}

/**
 * Site footer
 */
.site-footer {
  // border-top: 3px solid $grey-color-light;
  // border-bottom: 1px solid $grey-color-dark;
  // padding: $spacing-unit 0;
  background-color: $grey-color-lightish;

  .wrapper {
    padding: 30px;
    background-color: $dark-background-color;
  }

  a {
    color: $background-color;
  }
}
.footer-footing {
  // color: $grey-color;
  color: $background-color;
  // margin-bottom: $spacing-unit / 2;
  text-align: center;
}
.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}
.footer-col-wrapper {
  font-size: 15px;
  // color: $grey-color;
  color: $background-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}
.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
  text-align: center;

  h3 {
    margin-bottom: 0;
  }
}
.footer-col-1 {
  width: -webkit-calc(33% - (#{$spacing-unit} / 2));
  width: calc(33% - (#{$spacing-unit} / 2));
  // width: grid-calc(1,3);
}
.footer-col-2 {
  width: -webkit-calc(33% - (#{$spacing-unit} / 2));
  width: calc(33.3333% - (#{$spacing-unit} / 2));
  // width: grid-calc(1,3);
}
.footer-col-3 {
  width: -webkit-calc(33% - (#{$spacing-unit} / 2));
  width: calc(33% - (#{$spacing-unit} / 2));
  // width: grid-calc(1,3);
}
@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}

/**
 * Page content
 */
.page-content {
  // padding: $spacing-unit 0 $spacing-unit/2;
  background-color: $grey-color-light;

  .wrapper {
    background-color: $medium-background-color;
    color: $light-font-color;
    overflow: hidden;
  }
}
.page-heading {
  font-size: 20px;
}
.post-list {
  margin-left: 0;
  list-style: none;
  > li {
    margin-bottom: $spacing-unit;
  }
}
.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}
.post-link {
  display: block;
  font-size: 24px;
}

/**
 * Posts
 */
.post-header {
  color: $light-font-color;
  margin-bottom: $spacing-unit;
  // padding-top: $spacing-unit;
  padding-top: 0;
}
.post-title {
  font-size: 42px;
  background-color: $brand-orange;
  padding: 1rem 0;
  // letter-spacing: -1px;
  line-height: 1;
  text-align: center;
  font-weight: 400;
  margin: 0 -3%;

  @include media-query($on-laptop) {
    font-size: 36px;
    margin: 0 -2%;
  }

  @include media-query($on-palm) {
    font-size: 36px;
    margin: 0 -3%;
  }
}
.post-title-home {
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  @include media-query($on-palm) {
    font-size: 22px;
  }
}
.post-content {
  margin-bottom: $spacing-unit;
  .call-to-action {
    background-color: transparent;
    font-size: 32px;
    @include media-query($on-laptop) {
      font-size: 28px;
    }
    text-align: center;
  }
  h2 {
    font-size: 28px;
    text-align: center;
    background-color: $brand-orange;

    @include media-query($on-laptop) {
      font-size: 24px;
    }
  }
  h3 {
    font-size: 26px;
    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }
  h4 {
    font-size: 20px;
    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}

/**
 * Mere Extras
 */
.mere-row {
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.mere-row:last-of-type .mere-col-half {
  margin-bottom: 0;
}

.mere-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}
.mere-col-half {
  width: -webkit-calc(50% - (#{$spacing-unit} / 2));
  width: calc(50% - (#{$spacing-unit} / 2));
  // width: grid-calc(1,2);
}
@include media-query($on-laptop) {
  .mere-col-half {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
    // width: grid-calc(1,2);
  }
}
@include media-query($on-palm) {
  .mere-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}

.no-bot-margin {
  margin-bottom: 0;
}

.text-center {
  text-align: center;
}
h2.not-orange-header {
  //Makes gallery page less orange
  background-color: transparent;
}
#map {
  min-height: 400px;
  height: 100%;
  border: solid 1px $grey-color;
}

.bordered-image {
  padding: $spacing-unit / 2;
  background-color: $grey-color-light;
  text-align: center;

  img {
    border: solid 1px $grey-color;
  }
}

.call-out {
  padding: $spacing-unit / 2;
  background-color: $light-background-color;
  color: $text-color;
  min-height: 180px;

  @include media-query($on-laptop) {
    min-height: auto;
  }
}

/**
 * lightbox styles
 */

.ap-gallery {
  margin-left: -15px;
  clear: both;
}
.ap-gallery img {
  width: calc(100% - 6px);
  height: auto;
  border: 3px solid $grey-color-light;
}
.ap-gallery figure {
  width: 25%;
  float: left;
  margin-bottom: 25px;
  padding-left: 15px;
  box-sizing: border-box;

  &.standalone-left {
    padding-right: 15px;
    float: left;
  }
  &.standalone-right {
    padding-right: 15px;
    float: right;
  }

  @include media-query($on-laptop) {
    width: 35%;
  }

  @include media-query($on-palm) {
    width: 50%;
  }
}
.ap-gallery figcaption {
  display: none;
}

.pswp__caption__center {
  text-align: center !important;
}

.pswp__bg {
  background: rgba(0, 0, 0, 0.85) !important;
}
